<section>
<h1>Categories</h1>
<head>
<style type="text/css">
a { text-decoration: none; }
.categoryclass
{
	font-size:1.5em;
}
.categoryclass span {
	padding:0px 20px;
	float: right;/*文章数量右对齐*/
}


.divclass
{
	display:none;
	font-size:1.2em;
	position:relative;
	left:0px;
	top:0px;
	padding:0px 0px 0px 30px;
}
.divclass li span {
	float: right;/*文章数量右对齐*/
}

.divclasssub
{
	display:none;
	font-size:0.8em;
	position:relative;
	left:0px;
	top:0px;
	padding:0px 0px 0px 30px;
}
.divclasssub li span {
	float: right;/*文章数量右对齐*/
}


</style>
<script language="javascript" type="text/javascript">

function showDiv(divName)
{
	if (document.getElementById(divName).style.display == "block")
		document.getElementById(divName).style.display = "none"; //隐藏层
	else
		document.getElementById(divName).style.display = "block"; //显示层
}

function GetRequest(name) {
   var url = location.search; //获取url中"?"符后的字串
   if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i ++) {
         if (name == strs[i].split("=")[0])
		return unescape(strs[i].split("=")[1]);
      }
   }
   return null;
}
</script>
</head>
<body>
<div id="menu">
<ul>
{% category_list %}
</ul>
</div>
</body>
</html>

<script language="javascript" type="text/javascript">
var divname = GetRequest("opendiv");
if (divname != null)
	var divarr = divname.split("~");
	var name = ""
	for (var i=0; i<divarr.length; i++) {
		if (name != "") name += "~";
		name += divarr[i];
		showDiv(name);
	}
</script>
</section>

