a {	text-decoration: none; }
.categoryclass{
font-size:1.45em;
}
.divclass {
display:none;
font-size:1.2em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.divclassdate {
display:none;
font-size:1.1em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.divclasssub {
display:none;
font-size:0.8em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.div_list_1 {
display:none;
font-size:1.0em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.div_list_2 {
display:none;
font-size:0.8em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 35px;
}
.div_list_3 {
display:none;
font-size:0.8em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 20px;
}
.div_list_123 {
color: #aaa;
}
.exp_style {
font-size: 0.8em;
color: #aaa;
display: inline-block;
position:relative;
width: 1.7em;
left: 0.33em;
bottom: 0.17em
}
span.exp_style:hover {
color: #165b94;
}
span.div_list_123:hover {
color: #165b94;
}
.right_span {
color: #aaa;
float: right;/*文章数量右对齐*/
}
