a {	text-decoration: none; }
.catclass{
font-size:1.45em;
}
.catsub {
display:none;
font-size:1.2em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.catsub2 {
display:none;
font-size:0.8em;
position:relative;
left:0px;
top:0px;
padding:0px 0px 0px 30px;
}
.exp_style {
font-size: 0.8em;
color: #aaa;
display: inline-block;
position:relative;
width: 1.7em;
left: 0.33em;
bottom: 0.17em
}
span.exp_style:hover {
color: #165b94;
}
.right_span {
color: #aaa;
float: right;/*文章数量右对齐*/
}
